.App {
  text-align: center;
}


.Card {
  padding: 30px;
  margin: 20px auto;
  width: 400px;
  border: 1px solid #f8f8f8;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
}

Button {
  margin: 20px;

}